.container-layout-cp {
    margin: 0.825rem;
    padding: 1.25rem;
    background: #ffffff;
    box-shadow: 1px 7.71694px 46.3017px rgba(168, 168, 168, 0.3);
    border-radius: 1.5rem;
    height: 81vh;
}
