.container-layout-cp {
    margin: 0.825rem;
    padding: 1.25rem;
    background: #ffffff;
    box-shadow: 1px 7.71694px 46.3017px rgba(168, 168, 168, 0.3);
    border-radius: 1.5rem;
}

.container-item-layout {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 12px;
    box-shadow: 0 5px 5px rgb(0 0 0/5%);
    height: 86.8vh;
    min-height: 800px;
}

.container-item-layout .ant-card {
    box-shadow: 0 5px 5px rgb(0 0 0/5%) !important;
}
