.modal__attachment_header {
    .release-modal__header {
        color: #002060;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
}

.modal-attachment_content {
    overflow: auto;
    white-space: pre-wrap;
    width: 100%;

    .attachment_preview_filename {
        margin-top: 20px;
        margin-bottom: 25px;
        width: 100%;
        .attachment-modal__link-image {
            background-color: initial;
            color: #1890ff;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            transition: color 0.3s;
            width: 100%;

            .attachment-modal__file-info {
                align-items: center;
                background-color: #ededed;
                border: 1px solid #5daad6;
                border-radius: 9px;
                cursor: pointer;
                display: flex;
                height: 40px;
                justify-content: space-between;

                .attachment-modal__filename {
                    padding-left: 10px;
                    padding-right: 10px;
                    color: #5daad6;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .form__upload_attachment {
        .ant-upload-list-item-container {
            display: none;
        }
        .form__upload_title {
            color: #ff4d4f;
            font-size: 13px;
        }
    }

    .form__description {
        margin-top: 25px;
    }

    .ant-upload-wrapper {
        width: 100%;
        .ant-upload {
            width: 100%;
        }
    }
    .button-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #002060;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 600;
        box-shadow: 0 2px 4px rgb(0 0 0/7%);
        height: 42px;
        width: 100%;
        &:hover {
            background-color: #002060;
        }

        .ant-btn-icon {
            padding-top: -10px;
        }
    }
}

.ant-popover-title {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 500 !important;
}
.button__popover {
    border-color: transparent;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    &:hover {
        background-color: transparent;
        color: transparent !important;
        border-color: transparent !important;
    }
}
