.dashbroad-branching {
    background: #ffffff;
    border: 0.1px solid #e0e0e0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 15px;
}

.dashborad-customer {
    .dashborad-circle {
        border-radius: 9999px;
    }
    .dashborad-circle-title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    .dashborad-circle-value {
        border-radius: 9999px;
        width: 60px;
        height: 60px;
    }
}
