.custom-table-collapse {
    .ant-collapse-content-box {
        padding: 0px !important;
    }
}

.custom-table-data {
    width: 100%;

    .ant-table-cell {
        cursor: pointer;
        padding: 8px 12px !important;
    }

    .active-row {
        background-color: #002060;
        color: #ffffff;
    }
}

.grid-view__data .ant-collapse-content-box {
    padding: 0;
}

.ant-table-placeholder {
    display: none;
}

.ant-collapse {
    border-radius: 0;
}

.ant-collapse-item {
    border-radius: 0;
}
.ant-collapse-header {
    background-color: #ebebeb;
}

// CSS cutomer break dom
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > th,
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td,
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-tbody > tr > th.ant-table-cell-row-hover,
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #002060;
    color: #ffffff;
}

.ant-table-thead th {
    white-space: nowrap !important;
}

.ant-table-column-title {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    word-break: keep-all !important;
    width: 60px;
}
