.custom-table-collapse {
    font-family: 'Poppins', sans-serif;

    .ant-collapse-header-text {
        font-weight: 600;
        background-color: #ebebeb;
        color: rgba(0, 0, 0, 0.85);
    }

    .ant-collapse-content-box {
        padding: 0px !important;
        font-family: 'Poppins', sans-serif;
    }
}

.custom-table-data {
    width: 100%;
    font-family: 'Poppins', sans-serif;

    .ant-table-cell {
        font-family: 'Poppins', sans-serif;

        cursor: pointer;
        padding: 8px 12px !important;
    }

    .active-row {
        background-color: #002060;
        color: #ffffff;
    }

    .ant-table-cell-row-hover {
        background-color: #002060 !important;
        color: #ffffff !important;
    }
}

.grid-view__data .ant-collapse-content-box {
    padding: 0;
}

.table-view {
    .ant-table-placeholder {
        display: none !important;
    }
}
.ant-collapse {
    border-radius: 0;
}

.ant-collapse-item {
    border-radius: 0;
}
.ant-collapse-header {
    background-color: #ebebeb;
}

// CSS cutomer break dom

.ant-table-thead th {
    white-space: nowrap !important;
}
