.fixer-pt {
    padding-top: 100px;
}

.text-family {
    font-family: 'Poppins', sans-serif;
}

.ml-content {
    margin-left: 260px;
}

.input-search-item {
}

.button-items {
    display: flex;
    background-color: #002060 !important;
    color: #ffffff;
    align-items: center;
    height: 32px;
    width: 72px;
}

.button-items:hover {
    background-color: #002060 !important;
    color: #ffffff !important;
}

/* Css dom customer antd Design */

/* Undo navigate tab */
:where(.css-dev-only-do-not-override-12jzuas).ant-tabs .ant-tabs-ink-bar {
    background: transparent !important;
}
