.fixer-pt {
    padding-top: 100px;
}

.text-family {
    font-family: 'Poppins', sans-serif;
}

.ml-content {
    margin-left: 260px;
}

/* Css dom customer antd Design */

/* Undo navigate tab */
:where(.css-dev-only-do-not-override-12jzuas).ant-tabs .ant-tabs-ink-bar {
    background: transparent !important;
}
